#chart_div {
    width: 100%;
}

#chart {
	width: 100%;
	/*height: 100%;*/
}

.empty {
	height: 34px;
	padding-left: 15px;
	font-style: italic;
}

td.centertr {
	height:50px;
	text-align:center;
}

tr.unpaid {
	display: none;
}

.paypal-button button {
	white-space: nowrap;
	overflow: hidden;
	border-radius: 13px;
	font-family: "Arial", bold, italic;
	font-weight: bold;
	font-style: italic;
	border: 1px solid #ffa823;
	color: #0E3168;
	background:  #ffa823;
	position: relative;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	cursor: pointer;
	z-index: 0;
}

#pay-info {
	float: right;
	margin-right: 8px;
	margin-top: 9px;
}

#billingtable.panel: {
	width:100%;
	margin-top:12px;
	margin-botto: 28px;
}

.column-display{
	padding-left:12px;
}

storageSettings.section select#years {
 style="padding-top:25px;"
}

#paypal_billing_button {
	padding-left: 7px;
	height: 20px;
	vertical-align: middle;
	margin-bottom: 3px;
}

.paypal_img {
	padding-left: 52px;
}

#billingtable {
	margin-top: 36px;
	width: 100%;
}

.pending {
	color:#CDDC39;
	font-weight: bold;
}

.paid {
	color: #AAAAAA;
	font-weight: bold;
}

table#billingtable th .columntitle.name, .paypal_btn input {
    margin: 0;
    padding: 15px 0;
}

.paypal_btn input {
    margin: 0;
    padding: 16px 0;
    height: 52px;
}

.paypal_btn form {
	padding-left: 12px;
}

.paypal-text {
	font-size: 80%;
	margin-left: 24px;
}

.pay-popup {
	margin-top: 4%;
	font-family: inherit;
	font-size: 85%;
	overflow-y: hidden;
}
.pay-popup h1 {
	font-size: 120%;
	font-weight: bold;
}

.pay-popup li {
    margin-left: 5%;
    list-style-type: circle;
 }

.pay-popup a {
    color: #0376a3;
}

#adaptive-payments{
	margin-left: 2px;
}

.pay-instructions {
		overflow-y: hidden;
}

.quotarow {
	margin-left: 12px;
}

